<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
  <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3M9KRFR\SQLEXPRESS;Initial Catalog=Diploma;Integrated Security=True "/>
  <add name="Restore" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3M9KRFR\SQLEXPRESS;Initial Catalog=Master;Integrated Security=True" />
    <add name="DefaultConnectionAux" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-3M9KRFR\SQLEXPRESS;Initial Catalog=DiplomaAux;Integrated Security=True" />
  </connectionStrings>
</configuration>